
theory/b bias analysis_old \(copy\)\.nb

theory/b bias analysis_old\.nb
*.pyc
trajectory_simulation_python/output/
trajectory_simulation_python/logs/
main_calculations/figures_for_article/results_with_force.dat

trajectory_simulation_python/DBC Tars nodes\.txt

trajectory_simulation_python/arguments\.dat

main_calculations/figures_for_article/K_G_data_no_force\.txt

main_calculations/figures_for_article/results_no_force\.dat
trajectory_simulation_python/arguments.lock
main_calculations/test.py
main_calculations/processed_data/stat_struct.mat
main_calculations/processed_data/stat_struct_wrong_D.mat

analytical_bayes_factor/\.ipynb_checkpoints/

main_calculations/figures_for_article/
marginal_fun.png
marginal_fun_low_K.png
final_results_1D.pdf
final_results_2D.pdf
new_prior_results_1D.pdf
new_prior_results.png
old_prior_results.png
results.png
results.pdf
