
theory/b bias analysis_old \(copy\)\.nb
*.pdf
*.csv
*.dat
*.png
*.7z
*.rwa
*.eps
*.log

theory/b bias analysis_old\.nb
*.pyc
trajectory_simulation_python/output/
trajectory_simulation_python/logs/

trajectory_simulation_python/DBC Tars nodes\.txt


main_calculations/figures_for_article/K_G_data_no_force\.txt

trajectory_simulation_python/arguments.lock
main_calculations/test.py
main_calculations/processed_data/stat_struct.mat
main_calculations/processed_data/stat_struct_wrong_D.mat

analytical_bayes_factor/\.ipynb_checkpoints/

main_calculations/figures_for_article/
data
arguments.lock
../ito-to-tramway - Copy/
.ipynb_checkpoints/
arguments_2.lock
results/
../ito-to-tramway - Copy/__pycache__
../ito-to-tramway - Copy/__pycache__ - Copy
../ito-to-tramway - Copy/arguments.lock
../ito-to-tramway - Copy/arguments_2.lock
../ito-to-tramway - Copy/bayes_factors
../ito-to-tramway - Copy/calculate.py
../ito-to-tramway - Copy/collect_net_rwa_win.py
../ito-to-tramway - Copy/combine_results.ipynb
../ito-to-tramway - Copy/constants.py
../ito-to-tramway - Copy/copy_to_tars.sh
../ito-to-tramway - Copy/data
../ito-to-tramway - Copy/filelock.py
../ito-to-tramway - Copy/job_manager.py
../ito-to-tramway - Copy/LICENSE-filelock.rst
../ito-to-tramway - Copy/logs
../ito-to-tramway - Copy/main.py
../ito-to-tramway - Copy/output
../ito-to-tramway - Copy/prepare_arguments.py
../ito-to-tramway - Copy/results
../ito-to-tramway - Copy/run_bayes.py
../ito-to-tramway - Copy/sbatch_tars.sh
../ito-to-tramway - Copy/set_figure_size.py
../ito-to-tramway - Copy/snr.py
../ito-to-tramway - Copy/start_me.py
../ito-to-tramway - Copy/tesselate_and_infer.py
../ito-to-tramway - Copy/TRamWAy
../ito-to-tramway - Copy
output
temp
temp.py
./temp
input/
bayes_factors.7z
.idea/
test.py
/ito-to-tramway/test.py
*.pickle
profile.prof
